In [0]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
import tensorflow as tf
from sklearn.preprocessing import Normalizer

In [269]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
pd_dataset = pd.read_csv("/content/drive/My Drive/Colab Notebooks/INNDL/Churn.csv")

In [271]:
pd_dataset.shape

(10000, 14)

In [272]:
pd_dataset.head(10)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0
5          6    15574012       Chu  ...               0       149756.71      1
6          7    15592531  Bartlett  ...               1        10062.80      0
7          8    15656148    Obinna  ...               0       119346.88      1
8          9    15792365        He  ...               1        74940.50      0
9         10    15592389        H?  ...               1        71725.73      0

[10 rows x 14 columns]

In [0]:
pd_dataset.drop(['RowNumber','CustomerId','Surname'] ,axis=1, inplace=True)

In [274]:
pd_dataset.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
pd_dataset.drop(['Geography','Gender'] ,axis=1, inplace=True)

In [0]:


from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [0]:
X = pd_dataset.drop(['Exited'] ,axis=1)

In [0]:
Y = pd_dataset[['Exited']]

In [0]:
X_train, X_test, y_train, y_test  = train_test_split(X, Y, test_size=0.2)

In [280]:
X_test.shape

(2000, 8)

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
train_normal_x=scaler.fit_transform(X_train)
test_normal_x=scaler.fit_transform(X_test)

In [0]:
#Initialize Sequential Graph (model)
model = tf.keras.Sequential()

#model.add(tf.keras.layers.Dense(1, input_shape=(10,)))
#Add Dense layer for prediction - Keras declares weights and bias automatically
model.add(tf.keras.layers.Dense(16, input_shape=(8,), activation='relu'))
model.add(tf.keras.layers.Dense(32, activation='relu'))

model.add(tf.keras.layers.Dense(2, activation='softmax'))

In [0]:
#Compile the model - add Loss and Gradient Descent optimizer
model.compile(optimizer='sgd', loss='mse',metrics=['accuracy'])

#Normalize the data
#model.add(tf.keras.layers.BatchNormalization())

In [284]:
y_train

      Exited
2254       0
7456       0
4839       1
4755       0
1562       1
...      ...
9940       0
7055       0
7515       0
697        1
8638       0

[8000 rows x 1 columns]

In [0]:
y_train = tf.keras.utils.to_categorical(y_train, num_classes=2)

In [286]:
y_train

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]], dtype=float32)

### I have tried mutiple option to create a model & demonstrated the final one

In [287]:
model.fit(train_normal_x, y_train,
          epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1852 - accuracy: 0.7449
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1558 - accuracy: 0.7931
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1524 - accuracy: 0.7931
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1501 - accuracy: 0.7939
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1481 - accuracy: 0.7945
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1465 - accuracy: 0.7962
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1451 - accuracy: 0.7971
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1439 - accuracy: 0.7984
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1429 - accuracy: 0.7981
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1420 - accuracy: 0.7989
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1411 - accuracy: 0.7999
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1403 - accuracy: 0.8008
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1395 - accuracy: 0.8027
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1387 - accuracy: 0.8037
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1380 - accuracy: 0.8052
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1372 - accuracy: 0.8067
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1365 - accuracy: 0.8071
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1358 - accuracy: 0.8079
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1351 - accuracy: 0.8090
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1343 - accuracy: 0.8116
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1336 - accuracy: 0.8117
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1328 - accuracy: 0.8135
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1320 - accuracy: 0.8148
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1312 - accuracy: 0.8165
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1303 - accuracy: 0.8198
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1294 - accuracy: 0.8206
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1286 - accuracy: 0.8230
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1277 - accuracy: 0.8264
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1269 - accuracy: 0.8286
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1260 - accuracy: 0.8306
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1252 - accuracy: 0.8311
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1244 - accuracy: 0.8330
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1236 - accuracy: 0.8338
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1229 - accuracy: 0.8371
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1221 - accuracy: 0.8379
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1214 - accuracy: 0.8407
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1207 - accuracy: 0.8419
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1201 - accuracy: 0.8434
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1194 - accuracy: 0.8441
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1188 - accuracy: 0.8447
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1182 - accuracy: 0.8456
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1177 - accuracy: 0.8471
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1171 - accuracy: 0.8470
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1167 - accuracy: 0.8484
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1162 - accuracy: 0.8493
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1157 - accuracy: 0.8497
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1153 - accuracy: 0.8515
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1149 - accuracy: 0.8512
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1145 - accuracy: 0.8516
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1142 - accuracy: 0.8521
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1138 - accuracy: 0.8525
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1135 - accuracy: 0.8520
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1132 - accuracy: 0.8531
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1129 - accuracy: 0.8521
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1127 - accuracy: 0.8525
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1124 - accuracy: 0.8522
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1121 - accuracy: 0.8533
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1118 - accuracy: 0.8545
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1117 - accuracy: 0.8526
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1115 - accuracy: 0.8534
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1113 - accuracy: 0.8547
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1111 - accuracy: 0.8537
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1109 - accuracy: 0.8535
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1107 - accuracy: 0.8544
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1105 - accuracy: 0.8545
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.1104 - accuracy: 0.8553
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1102 - accuracy: 0.8553
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1100 - accuracy: 0.8545
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1099 - accuracy: 0.8549
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1098 - accuracy: 0.8564
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1097 - accuracy: 0.8555
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1095 - accuracy: 0.8561
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1094 - accuracy: 0.8558
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1093 - accuracy: 0.8556
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1092 - accuracy: 0.8554
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1091 - accuracy: 0.8564
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1090 - accuracy: 0.8559
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1089 - accuracy: 0.8566
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1088 - accuracy: 0.8572
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1087 - accuracy: 0.8565
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1086 - accuracy: 0.8561
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1085 - accuracy: 0.8562
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1084 - accuracy: 0.8570
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1083 - accuracy: 0.8564
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1083 - accuracy: 0.8566
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1082 - accuracy: 0.8560
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1081 - accuracy: 0.8560
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1080 - accuracy: 0.8579
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1079 - accuracy: 0.8574
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1079 - accuracy: 0.8570
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1078 - accuracy: 0.8566
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1078 - accuracy: 0.8570
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1077 - accuracy: 0.8570
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1076 - accuracy: 0.8566
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1075 - accuracy: 0.8576
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1074 - accuracy: 0.8571
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1074 - accuracy: 0.8585
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1073 - accuracy: 0.8574
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1072 - accuracy: 0.8575
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.1072 - accuracy: 0.8570

In [288]:
model.summary()

Model: "sequential_20"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_58 (Dense)             (None, 16)                144
_________________________________________________________________
dense_59 (Dense)             (None, 32)                544
_________________________________________________________________
dense_60 (Dense)             (None, 2)                 66
=================================================================
Total params: 754
Trainable params: 754
Non-trainable params: 0
_________________________________________________________________

In [289]:
predict=model.predict(X_test)
predict

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]], dtype=float32)

In [290]:
loss_and_acc = model.evaluate(train_normal_x, y_train)
print(loss_and_acc)

250/250 [==============================] - 0s 1ms/step - loss: 0.1070 - accuracy: 0.8586
[0.10699380934238434, 0.8586249947547913]

In [291]:
y_pred = model.predict(test_normal_x, verbose=0)
y_pred_classes = model.predict_classes(test_normal_x, verbose=0)
print(y_pred)

[[0.75147825 0.24852179]
 [0.9975298  0.00247025]
 [0.46066692 0.53933305]
 ...
 [0.8740146  0.12598534]
 [0.9642433  0.03575673]
 [0.17456305 0.82543695]]

In [0]:
y_pred_final = [1 if x[1] >= .5 else 0 for x in y_pred]

In [293]:
print(np.transpose(np.matrix(y_pred_final)))

[[0]
 [0]
 [1]
 ...
 [0]
 [0]
 [1]]