# Project 2 


Questions
Find the mean of old scheme and new scheme column. (5 points)
Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)
What conclusion does the test (p-value) lead to? (2.5 points)
Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
        a) The probability of a type 1 error? (2.5 points)

        b) What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)

        c) Power of the test (5 points)

In [5]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power

In [6]:
sales_df = pd.read_csv("C:/Users/Abhishek/Desktop/Salesforce.csv")

In [7]:
sales_df.head(10)

   SALESPERSON  Old_Scheme  New_Scheme
0            1          57          62
1            2         103         122
2            3          59          54
3            4          75          82
4            5          84          84
5            6          73          86
6            7          35          32
7            8         110         104
8            9          44          38
9           10          82         107

In [20]:
data1 = sales_df['Old_Scheme'].mean()

In [21]:
data2 = sales_df['New_Scheme'].mean()

In [22]:
t_statistic, p_value = ttest_ind(sales_df['Old_Scheme'], sales_df['New_Scheme'])
print(t_statistic, p_value)

-1.5608402120078468 0.12400179998875209

In [49]:
print ("two-sample t-test p-value=", p_value)

two-sample t-test p-value= 0.49063515686248105

# Since p value is greater than alpha (0.05) i.e. Accept null hypothesis that the means are equal

In [23]:
# values are in thousands so adding 5 in New scheme

sales_df.New_Scheme = sales_df.New_Scheme.add(5)

In [53]:
sales_df

    SALESPERSON  Old_Scheme  New_Scheme
0             1          57          67
1             2         103         127
2             3          59          59
3             4          75          87
4             5          84          89
5             6          73          91
6             7          35          37
7             8         110         109
8             9          44          43
9            10          82         112
10           11          67          89
11           12          64          90
12           13          78         104
13           14          53          44
14           15          41          39
15           16          39          63
16           17          80          78
17           18          87          58
18           19          73          71
19           20          65          83
20           21          28          46
21           22          62          76
22           23          49          43
23           24          84         100
24           25          63          86
25           26          77          63
26           27          67          80
27           28         101          99
28           29          91         105
29           30          50          73

In [24]:
t_statistic, p_value = ttest_ind(sales_df['Old_Scheme'], sales_df['New_Scheme'])
print(t_statistic, p_value)

-2.4279736631233173 0.018306880480459746

In [1]:
#power of the test

In [36]:
Zstats = (5)/np.std(sales_df['New_Scheme'])
ttest_power(Zstats,nobs=len(np.array(sales_df['New_Scheme']))-1,alpha=0.05,alternative='larger')

0.29660245254588957

68.03333333333333

33.98457692410029