In [70]:
# Import important library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Read the input file and check the data dimension

In [71]:
default_df = pd.read_csv('C:/Users/Abhishek/Downloads/german_credit.csv')
default_df.head(5)

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [72]:
# You can access from https://www.kaggle.com/uciml/german-credit
#Read input file and understand the data
# "default" is my dependent variable

In [73]:
default_df.shape

(1000, 21)

### Q1 Randomly select 50% data for this use case( 1 Marks)
###### Hint: Use train_test_split

In [74]:
default_df_50 = default_df.sample(frac=0.5)
default_df_50

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
577,0,no checking account,24,critical account/ other credits existing (not ...,(vacation - does not exist?),1927,unknown/ no savings account,1 <= ... < 4 years,3,female : divorced/separated/married,...,2,"if not A121/A122 : car or other, not in attrib...",33,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
529,0,< 0 DM,6,existing credits paid back duly till now,car (new),662,... < 100 DM,... < 1 year,3,male : single,...,4,real estate,41,none,own,1,unskilled - resident,2,"yes, registered under the customers name",yes
346,0,0 <= ... < 200 DM,13,critical account/ other credits existing (not ...,domestic appliances,882,... < 100 DM,... < 1 year,4,male : single,...,4,real estate,23,none,own,2,skilled employee / official,1,none,yes
171,0,no checking account,12,existing credits paid back duly till now,radio/television,763,... < 100 DM,1 <= ... < 4 years,4,female : divorced/separated/married,...,1,real estate,26,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
448,0,>= 200 DM / salary assignments for at least 1 ...,12,existing credits paid back duly till now,radio/television,1424,unknown/ no savings account,.. >= 7 years,3,female : divorced/separated/married,...,4,real estate,55,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
56,1,0 <= ... < 200 DM,12,existing credits paid back duly till now,domestic appliances,6468,unknown/ no savings account,unemployed,2,male : single,...,1,unknown / no property,52,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
133,0,no checking account,18,existing credits paid back duly till now,radio/television,1984,... < 100 DM,1 <= ... < 4 years,4,male : single,...,4,unknown / no property,47,bank,for free,2,skilled employee / official,1,none,yes
467,0,no checking account,48,delay in paying off in the past,domestic appliances,7238,unknown/ no savings account,.. >= 7 years,3,male : single,...,3,"if not A121/A122 : car or other, not in attrib...",32,bank,own,2,skilled employee / official,2,none,yes
579,0,no checking account,24,existing credits paid back duly till now,retraining,937,... < 100 DM,... < 1 year,4,male : married/widowed,...,3,"if not A121/A122 : car or other, not in attrib...",27,none,own,2,unskilled - resident,1,none,yes
509,0,no checking account,39,existing credits paid back duly till now,car (used),8588,100 <= ... < 500 DM,.. >= 7 years,4,male : single,...,2,"if not A121/A122 : car or other, not in attrib...",45,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
804,0,0 <= ... < 200 DM,12,existing credits paid back duly till now,car (new),7472,unknown/ no savings account,unemployed,1,female : divorced/separated/married,...,2,real estate,24,none,rent,1,unemployed/ unskilled - non-resident,1,none,yes
626,0,>= 200 DM / salary assignments for at least 1 ...,6,existing credits paid back duly till now,radio/television,2116,... < 100 DM,1 <= ... < 4 years,2,male : single,...,2,real estate,41,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
813,1,< 0 DM,48,existing credits paid back duly till now,repairs,3051,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",54,none,own,1,skilled employee / official,1,none,yes
679,0,no checking account,18,existing credits paid back duly till now,domestic appliances,1453,... < 100 DM,... < 1 year,3,female : divorced/separated/married,...,1,real estate,26,none,own,1,skilled employee / official,1,none,yes
709,0,0 <= ... < 200 DM,9,existing credits paid back duly till now,domestic appliances,2118,... < 100 DM,1 <= ... < 4 years,2,male : single,...,2,real estate,37,none,own,1,unskilled - resident,2,none,yes
822,1,< 0 DM,36,existing credits paid back duly till now,radio/television,2712,... < 100 DM,.. >= 7 years,2,male : single,...,2,if not A121 : building society savings agreeme...,41,bank,own,1,skilled employee / official,2,none,yes
834,1,>= 200 DM / salary assignments for at least 1 ...,15,existing credits paid back duly till now,domestic appliances,2327,... < 100 DM,... < 1 year,2,female : divorced/separated/married,...,3,real estate,25,none,own,1,unskilled - resident,1,none,yes
416,1,< 0 DM,12,existing credits paid back duly till now,car (new),2579,... < 100 DM,... < 1 year,4,male : single,...,1,real estate,33,none,own,1,unskilled - resident,2,none,yes
261,0,< 0 DM,24,existing credits paid back duly till now,domestic appliances,1603,... < 100 DM,.. >= 7 years,4,female : divorced/separated/married,...,4,"if not A121/A122 : car or other, not in attrib...",55,none,own,1,skilled employee / official,1,none,yes
768,0,0 <= ... < 200 DM,12,critical account/ other credits existing (not ...,radio/television,3617,... < 100 DM,.. >= 7 years,1,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",28,none,rent,3,skilled employee / official,1,"yes, registered under the customers name",yes
514,0,no checking account,24,existing credits paid back duly till now,car (new),2255,unknown/ no savings account,... < 1 year,4,male : single,...,1,if not A121 : building society savings agreeme...,54,none,own,1,skilled employee / official,1,none,yes
778,0,no checking account,36,critical account/ other credits existing (not ...,car (used),5711,.. >= 1000 DM,.. >= 7 years,4,male : single,...,2,"if not A121/A122 : car or other, not in attrib...",38,none,own,2,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
194,1,0 <= ... < 200 DM,45,existing credits paid back duly till now,domestic appliances,3031,100 <= ... < 500 DM,1 <= ... < 4 years,4,male : single,...,4,if not A121 : building society savings agreeme...,21,none,rent,1,skilled employee / official,1,none,yes
437,0,no checking account,24,critical account/ other credits existing (not ...,car (new),1287,.. >= 1000 DM,.. >= 7 years,4,female : divorced/separated/married,...,4,real estate,37,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
85,0,no checking account,12,critical account/ other credits existing (not ...,business,1412,... < 100 DM,1 <= ... < 4 years,4,female : divorced/separated/married,...,2,real estate,29,none,own,2,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
533,0,no checking account,24,existing credits paid back duly till now,domestic appliances,1311,100 <= ... < 500 DM,4 <= ... < 7 years,4,male : married/widowed,...,3,if not A121 : building society savings agreeme...,26,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
856,0,no checking account,10,existing credits paid back duly till now,retraining,894,unknown/ no savings account,4 <= ... < 7 years,4,female : divorced/separated/married,...,3,if not A121 : building society savings agreeme...,40,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
97,0,0 <= ... < 200 DM,18,existing credits paid back duly till now,business,2622,100 <= ... < 500 DM,1 <= ... < 4 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",34,none,own,1,skilled employee / official,1,none,yes
723,0,0 <= ... < 200 DM,9,existing credits paid back duly till now,domestic appliances,790,500 <= ... < 1000 DM,1 <= ... < 4 years,4,female : divorced/separated/married,...,3,real estate,66,none,own,1,unskilled - resident,1,none,yes
947,0,no checking account,12,existing credits paid back duly till now,car (new),2859,unknown/ no savings account,unemployed,4,male : single,...,4,unknown / no property,38,none,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,1,no checking account,21,no credits taken/ all credits paid back duly,car (new),5003,unknown/ no savings account,1 <= ... < 4 years,1,female : divorced/separated/married,...,4,if not A121 : building society savings agreeme...,29,bank,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
982,0,>= 200 DM / salary assignments for at least 1 ...,21,existing credits paid back duly till now,car (new),2923,100 <= ... < 500 DM,1 <= ... < 4 years,1,female : divorced/separated/married,...,1,"if not A121/A122 : car or other, not in attrib...",28,bank,own,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
699,0,>= 200 DM / salary assignments for at least 1 ...,15,existing credits paid back duly till now,(vacation - does not exist?),1905,... < 100 DM,.. >= 7 years,4,male : single,...,4,"if not A121/A122 : car or other, not in attrib...",40,none,rent,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
115,0,no checking account,48,critical account/ other credits existing (not ...,domestic appliances,3578,unknown/ no savings account,.. >= 7 years,4,male : single,...,1,real estate,47,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
123,0,>= 200 DM / salary assignments for at least 1 ...,10,critical account/ other credits existing (not ...,car (new),781,... < 100 DM,.. >= 7 years,4,male : single,...,4,unknown / no property,63,none,for free,2,skilled employee / official,1,"yes, registered under the customers name",yes
187,0,0 <= ... < 200 DM,16,critical account/ other credits existing (not ...,car (new),1175,... < 100 DM,unemployed,2,male : single,...,3,"if not A121/A122 : car or other, not in attrib...",68,none,for free,3,unemployed/ unskilled - non-resident,1,"yes, registered under the customers name",yes
691,0,0 <= ... < 200 DM,15,existing credits paid back duly till now,education,2631,100 <= ... < 500 DM,1 <= ... < 4 years,3,female : divorced/separated/married,...,2,real estate,25,none,own,1,unskilled - resident,1,none,yes
580,1,0 <= ... < 200 DM,18,critical account/ other credits existing (not ...,car (new),1056,... < 100 DM,.. >= 7 years,3,male : single,...,3,real estate,30,bank,own,2,skilled employee / official,1,none,yes
585,1,< 0 DM,18,existing credits paid back duly till now,radio/television,2039,... < 100 DM,1 <= ... < 4 years,1,female : divorced/separated/married,...,4,real estate,20,bank,rent,1,skilled employee / official,1,none,yes
435,1,0 <= ... < 200 DM,12,existing credits paid back duly till now,domestic appliances,1484,unknown/ no savings account,1 <= ... < 4 years,2,male : married/widowed,...,1,real estate,25,none,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
900,1,< 0 DM,16,critical account/ other credits existing (not ...,car (new),2625,... < 100 DM,.. >= 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,43,bank,rent,1,skilled employee / official,1,"yes, registered under the customers name",yes
216,0,< 0 DM,18,no credits taken/ all credits paid back duly,business,3104,... < 100 DM,4 <= ... < 7 years,3,male : single,...,1,if not A121 : building society savings agreeme...,31,bank,own,1,skilled employee / official,1,"yes, registered under the customers name",yes
990,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),3565,unknown/ no savings account,... < 1 year,2,male : single,...,1,if not A121 : building society savings agreeme...,37,none,own,2,unskilled - resident,2,none,yes
785,0,0 <= ... < 200 DM,18,existing credits paid back duly till now,business,1941,.. >= 1000 DM,1 <= ... < 4 years,4,male : single,...,2,if not A121 : building society savings agreeme...,35,none,own,1,unskilled - resident,1,"yes, registered under the customers name",yes
755,1,< 0 DM,24,existing credits paid back duly till now,car (new),1285,unknown/ no savings account,4 <= ... < 7 years,4,female : divorced/separated/married,...,4,unknown / no property,32,none,rent,1,skilled employee / official,1,none,yes
797,0,no checking account,12,critical account/ other credits existing (not ...,radio/television,1258,... < 100 DM,... < 1 year,2,female : divorced/separated/married,...,4,if not A121 : building society savings agreeme...,22,none,rent,2,unskilled - resident,1,none,yes
782,0,0 <= ... < 200 DM,12,no credits taken/ all credits paid back duly,retraining,1410,... < 100 DM,1 <= ... < 4 years,2,male : single,...,2,real estate,31,none,own,1,unskilled - resident,1,"yes, registered under the customers name",yes
497,0,no checking account,24,critical account/ other credits existing (not ...,radio/television,1585,... < 100 DM,4 <= ... < 7 years,4,male : single,...,3,if not A121 : building society savings agreeme...,40,none,own,2,skilled employee / official,1,none,yes
472,1,< 0 DM,9,existing credits paid back duly till now,car (new),654,... < 100 DM,1 <= ... < 4 years,4,male : single,...,3,"if not A121/A122 : car or other, not in attrib...",28,none,own,1,unskilled - resident,1,none,yes
99,0,0 <= ... < 200 DM,20,delay in paying off in the past,car (used),7057,unknown/ no savings account,4 <= ... < 7 years,3,male : single,...,4,if not A121 : building society savings agreeme...,36,bank,rent,2,management/ self-employed/ highly qualified em...,2,"yes, registered under the customers name",yes
176,0,< 0 DM,12,existing credits paid back duly till now,radio/television,2577,... < 100 DM,1 <= ... < 4 years,2,male : divorced/separated,...,1,"if not A121/A122 : car or other, not in attrib...",42,none,own,1,skilled employee / official,1,none,yes
619,0,no checking account,12,existing credits paid back duly till now,car (new),640,... < 100 DM,1 <= ... < 4 years,4,male : divorced/separated,...,2,real estate,49,none,own,1,unskilled - resident,1,none,yes
687,0,0 <= ... < 200 DM,36,delay in paying off in the past,car (new),2862,100 <= ... < 500 DM,.. >= 7 years,4,male : single,...,3,unknown / no property,30,none,for free,1,skilled employee / official,1,none,yes
447,0,0 <= ... < 200 DM,7,existing credits paid back duly till now,domestic appliances,2576,... < 100 DM,1 <= ... < 4 years,2,male : single,...,2,real estate,35,none,own,1,skilled employee / official,1,none,yes
860,0,no checking account,24,critical account/ other credits existing (not ...,car (used),5804,.. >= 1000 DM,1 <= ... < 4 years,4,male : single,...,2,real estate,27,none,own,2,skilled employee / official,1,none,yes
876,0,< 0 DM,18,all credits at this bank paid back duly,domestic appliances,1940,... < 100 DM,... < 1 year,3,male : single,...,4,unknown / no property,36,bank,for free,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes
932,0,no checking account,9,critical account/ other credits existing (not ...,car (new),1224,... < 100 DM,1 <= ... < 4 years,3,male : single,...,1,real estate,30,none,own,2,skilled employee / official,1,none,yes
69,0,no checking account,36,existing credits paid back duly till now,domestic appliances,2394,unknown/ no savings account,1 <= ... < 4 years,4,female : divorced/separated/married,...,4,"if not A121/A122 : car or other, not in attrib...",25,none,own,1,skilled employee / official,1,none,yes
629,0,no checking account,9,existing credits paid back duly till now,(vacation - does not exist?),3832,unknown/ no savings account,.. >= 7 years,1,male : single,...,4,real estate,64,none,own,1,unskilled - resident,1,none,yes
967,0,no checking account,15,existing credits paid back duly till now,domestic appliances,3568,... < 100 DM,.. >= 7 years,4,female : divorced/separated/married,...,2,"if not A121/A122 : car or other, not in attrib...",54,bank,rent,1,management/ self-employed/ highly qualified em...,1,"yes, registered under the customers name",yes

In [75]:
# Lets build a Ensemble model but need to modify the dataset first

### Q2.Prepare the model data by converting non-numeric to dummy ( 1 Marks)
##### Hint: Use get_dummies

In [76]:
default_df_50.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 577 to 967
Data columns (total 21 columns):
default                       500 non-null int64
account_check_status          500 non-null object
duration_in_month             500 non-null int64
credit_history                500 non-null object
purpose                       500 non-null object
credit_amount                 500 non-null int64
savings                       500 non-null object
present_emp_since             500 non-null object
installment_as_income_perc    500 non-null int64
personal_status_sex           500 non-null object
other_debtors                 500 non-null object
present_res_since             500 non-null int64
property                      500 non-null object
age                           500 non-null int64
other_installment_plans       500 non-null object
housing                       500 non-null object
credits_this_bank             500 non-null int64
job                           500 non-null object
people_under_maintenance      500 non-null int64
telephone                     500 non-null object
foreign_worker                500 non-null object
dtypes: int64(8), object(13)
memory usage: 85.9+ KB

In [77]:
for feature in default_df_50.columns: # Loop through all columns in the dataframe
    if default_df_50[feature].dtype == 'object': # Only apply for columns with categorical strings
        default_df_50[feature] = pd.Categorical(default_df_50[feature]).codes # Replace strings with an integer

In [111]:
default_df_50.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500 entries, 577 to 967
Data columns (total 20 columns):
account_check_status          500 non-null int8
duration_in_month             500 non-null int64
credit_history                500 non-null int8
purpose                       500 non-null int8
credit_amount                 500 non-null int64
savings                       500 non-null int8
present_emp_since             500 non-null int8
installment_as_income_perc    500 non-null int64
personal_status_sex           500 non-null int8
other_debtors                 500 non-null int8
present_res_since             500 non-null int64
property                      500 non-null int8
age                           500 non-null int64
other_installment_plans       500 non-null int8
housing                       500 non-null int8
credits_this_bank             500 non-null int64
job                           500 non-null int8
people_under_maintenance      500 non-null int64
telephone                     500 non-null int8
foreign_worker                500 non-null int8
dtypes: int64(7), int8(13)
memory usage: 37.6 KB

In [150]:
default_df_50=pd.get_dummies(default_df_50)
default_df_50

,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,other_debtors,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
577,3,24,1,0,1927,4,2,3,0,2,2,1,33,1,1,2,1,1,1,1
529,1,6,3,2,662,1,1,3,3,2,4,2,41,1,1,1,3,2,1,1
346,0,13,1,4,882,1,1,4,3,1,4,2,23,1,1,2,1,1,0,1
171,3,12,3,7,763,1,2,4,0,2,1,2,26,1,1,1,1,1,1,1
448,2,12,3,7,1424,4,0,3,0,2,4,2,55,1,1,1,0,1,1,1
56,0,12,3,4,6468,4,4,2,3,2,1,3,52,1,1,1,0,1,1,1
133,3,18,3,7,1984,1,2,4,3,2,4,3,47,0,0,2,1,1,0,1
467,3,48,2,4,7238,4,0,3,3,2,3,1,32,0,1,2,1,2,0,1
579,3,24,3,9,937,1,1,4,2,2,3,1,27,1,1,2,3,1,0,1
509,3,39,3,3,8588,2,0,4,3,2,2,1,45,1,1,1,0,1,1,1
804,0,12,3,2,7472,4,4,1,0,2,2,2,24,1,2,1,2,1,0,1
626,2,6,3,7,2116,1,2,2,3,2,2,2,41,1,1,1,1,1,1,1
813,1,48,3,8,3051,1,2,3,3,2,4,1,54,1,1,1,1,1,0,1
679,3,18,3,4,1453,1,1,3,0,2,1,2,26,1,1,1,1,1,0,1
709,0,9,3,4,2118,1,2,2,3,2,2,2,37,1,1,1,3,2,0,1
822,1,36,3,7,2712,1,0,2,3,2,2,0,41,0,1,1,1,2,0,1
834,2,15,3,4,2327,1,1,2,0,2,3,2,25,1,1,1,3,1,0,1
416,1,12,3,2,2579,1,1,4,3,2,1,2,33,1,1,1,3,2,0,1
261,1,24,3,4,1603,1,0,4,0,2,4,1,55,1,1,1,1,1,0,1
768,0,12,1,7,3617,1,0,1,3,2,4,1,28,1,2,3,1,1,1,1
514,3,24,3,2,2255,4,1,4,3,2,1,0,54,1,1,1,1,1,0,1
778,3,36,1,3,5711,0,0,4,3,2,2,1,38,1,1,2,0,1,1,1
194,0,45,3,4,3031,2,2,4,3,1,4,0,21,1,2,1,1,1,0,1
437,3,24,1,2,1287,0,0,4,0,2,4,2,37,1,1,2,1,1,1,1
85,3,12,1,1,1412,1,2,4,0,1,2,2,29,1,1,2,0,1,1,1
533,3,24,3,4,1311,2,3,4,2,2,3,0,26,1,1,1,1,1,1,1
856,3,10,3,9,894,4,3,4,0,2,3,0,40,1,1,1,1,1,1,1
97,0,18,3,1,2622,2,2,4,3,2,4,1,34,1,1,1,1,1,0,1
723,0,9,3,4,790,3,2,4,0,2,3,2,66,1,1,1,3,1,0,1
947,3,12,3,2,2859,4,4,4,3,2,4,3,38,1,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557,3,21,4,2,5003,4,2,1,0,2,4,0,29,0,1,2,1,1,1,1
982,2,21,3,2,2923,2,2,1,0,2,1,1,28,0,1,1,0,1,1,1
699,2,15,3,0,1905,1,0,4,3,2,4,1,40,1,2,1,0,1,1,1
115,3,48,1,4,3578,4,0,4,3,2,1,2,47,1,1,1,1,1,1,1
123,2,10,1,2,781,1,0,4,3,2,4,3,63,1,0,2,1,1,1,1
187,0,16,1,2,1175,1,4,2,3,2,3,1,68,1,0,3,2,1,1,1
691,0,15,3,5,2631,2,2,3,0,2,2,2,25,1,1,1,3,1,0,1
580,0,18,1,2,1056,1,0,3,3,1,3,2,30,0,1,2,1,1,0,1
585,1,18,3,7,2039,1,2,1,0,2,4,2,20,0,2,1,1,1,0,1
435,0,12,3,4,1484,4,2,2,2,2,1,2,25,1,1,1,1,1,1,1
900,1,16,1,2,2625,1,0,2,3,1,4,0,43,0,2,1,1,1,1,1
216,1,18,4,1,3104,1,3,3,3,2,1,0,31,0,1,1,1,1,1,1
990,3,12,1,0,3565,4,1,2,3,2,1,0,37,1,1,2,3,2,0,1
785,0,18,3,1,1941,0,2,4,3,2,2,0,35,1,1,1,3,1,1,1
755,1,24,3,2,1285,4,3,4,0,2,4,3,32,1,2,1,1,1,0,1
797,3,12,1,7,1258,1,1,2,0,2,4,0,22,1,2,2,3,1,0,1
782,0,12,4,9,1410,1,2,2,3,2,2,2,31,1,1,1,3,1,1,1
497,3,24,1,7,1585,1,3,4,3,2,3,0,40,1,1,2,1,1,0,1
472,1,9,3,2,654,1,2,4,3,2,3,1,28,1,1,1,3,1,0,1
99,0,20,2,3,7057,4,3,3,3,2,4,0,36,0,2,2,0,2,1,1
176,1,12,3,7,2577,1,2,2,1,2,1,1,42,1,1,1,1,1,0,1
619,3,12,3,2,640,1,2,4,1,2,2,2,49,1,1,1,3,1,0,1
687,0,36,2,2,2862,2,0,4,3,2,3,3,30,1,0,1,1,1,0,1
447,0,7,3,4,2576,1,2,2,3,1,2,2,35,1,1,1,1,1,0,1
860,3,24,1,3,5804,0,2,4,3,2,2,2,27,1,1,2,1,1,0,1
876,1,18,0,4,1940,1,1,3,3,0,4,3,36,0,0,1,0,1,1,1
932,3,9,1,2,1224,1,2,3,3,2,1,2,30,1,1,2,1,1,0,1
69,3,36,3,4,2394,4,2,4,0,2,4,1,25,1,1,1,1,1,0,1
629,3,9,3,0,3832,4,0,1,3,2,4,2,64,1,1,1,3,1,0,1
967,3,15,3,4,3568,1,0,4,0,2,2,1,54,0,2,1,0,1,1,1

In [80]:
default_df_50.shape

(500, 21)

### Check for highly correlated variables but don't required any treatment for this use case

In [81]:
default_df_50.corr()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
default,1.000000,-0.286908,0.172060,0.080570,-0.038798,0.179042,-0.168939,0.012328,0.009801,-0.040712,...,-0.009038,0.057326,-0.095774,-0.006537,-0.004865,-0.059804,-0.048120,-0.059795,-0.049716,0.090739
account_check_status,-0.286908,1.000000,-0.057095,-0.048951,-0.027101,-0.081552,0.108000,-0.077290,0.049731,0.001962,...,0.000254,0.010452,0.052837,0.069156,-0.034999,0.054265,-0.044029,0.062054,0.083884,-0.047732
duration_in_month,0.172060,-0.057095,1.000000,-0.019589,-0.081847,0.603100,0.039680,0.030449,0.081916,0.115016,...,-0.040687,0.056082,-0.054301,0.046450,-0.178411,0.004046,-0.207918,-0.000899,0.114317,0.111683
credit_history,0.080570,-0.048951,-0.019589,1.000000,0.057410,-0.017662,0.054314,0.038364,-0.062871,-0.057366,...,-0.104277,-0.075390,-0.093824,-0.016436,0.087499,-0.383461,0.026082,0.010927,-0.039283,0.035815
purpose,-0.038798,-0.027101,-0.081847,0.057410,1.000000,-0.113260,-0.042925,-0.033805,0.002428,-0.073642,...,-0.022767,-0.057558,-0.166449,0.000492,0.112293,-0.128271,0.042510,-0.152551,-0.104331,0.021039
credit_amount,0.179042,-0.081552,0.603100,-0.017662,-0.113260,1.000000,0.105646,0.115301,-0.278592,0.119591,...,-0.032894,0.069651,-0.005104,-0.011426,-0.164247,0.043363,-0.238377,0.055407,0.250901,0.029684
savings,-0.168939,0.108000,0.039680,0.054314,-0.042925,0.105646,1.000000,-0.065260,-0.014250,0.082624,...,0.060522,-0.014765,0.088392,-0.036192,-0.037140,-0.030622,0.029414,0.043609,0.043571,-0.002224
present_emp_since,0.012328,-0.077290,0.030449,0.038364,-0.033805,0.115301,-0.065260,1.000000,-0.119094,-0.055585,...,-0.145888,-0.029651,-0.137072,0.040989,0.037549,-0.061011,-0.020187,-0.091621,0.000887,-0.000585
installment_as_income_perc,0.009801,0.049731,0.081916,-0.062871,0.002428,-0.278592,-0.014250,-0.119094,1.000000,0.131714,...,0.076741,0.027930,0.044308,0.131722,-0.082575,0.047466,-0.091553,-0.050076,0.029469,0.071835
personal_status_sex,-0.040712,0.001962,0.115016,-0.057366,-0.073642,0.119591,0.082624,-0.055585,0.131714,1.000000,...,0.012859,0.079718,0.173307,0.007515,-0.225749,0.138397,-0.014039,0.250315,0.059688,-0.043539
other_debtors,-0.069016,0.107993,-0.062914,0.015361,-0.114970,-0.033433,0.096685,-0.067309,-0.039932,-0.004955,...,-0.054025,-0.104895,0.091319,0.105621,-0.076516,0.006361,-0.003777,0.062965,0.076891,0.084517
present_res_since,-0.009038,0.000254,-0.040687,-0.104277,-0.022767,-0.032894,0.060522,-0.145888,0.076741,0.012859,...,1.000000,0.113877,0.268406,-0.012538,-0.041002,0.060014,0.043954,0.041465,0.068576,0.017681
property,0.057326,0.010452,0.056082,-0.075390,-0.057558,0.069651,-0.014765,-0.029651,0.027930,0.079718,...,0.113877,1.000000,0.106967,-0.018516,-0.353716,-0.042490,-0.038714,0.076178,0.047562,0.063482
age,-0.095774,0.052837,-0.054301,-0.093824,-0.166449,-0.005104,0.088392,-0.137072,0.044308,0.173307,...,0.268406,0.106967,1.000000,-0.028711,-0.268645,0.127937,0.006695,0.114653,0.153685,0.000943
other_installment_plans,-0.006537,0.069156,0.046450,-0.016436,0.000492,-0.011426,-0.036192,0.040989,0.131722,0.007515,...,-0.012538,-0.018516,-0.028711,1.000000,0.019772,0.016251,-0.026047,-0.053481,0.000078,0.019209
housing,-0.004865,-0.034999,-0.178411,0.087499,0.112293,-0.164247,-0.037140,0.037549,-0.082575,-0.225749,...,-0.041002,-0.353716,-0.268645,0.019772,1.000000,-0.026207,0.101089,-0.091527,-0.103914,-0.071064
credits_this_bank,-0.059804,0.054265,0.004046,-0.383461,-0.128271,0.043363,-0.030622,-0.061011,0.047466,0.138397,...,0.060014,-0.042490,0.127937,0.016251,-0.026207,1.000000,-0.011771,0.096179,0.109732,0.002907
job,-0.048120,-0.044029,-0.207918,0.026082,0.042510,-0.238377,0.029414,-0.020187,-0.091553,-0.014039,...,0.043954,-0.038714,0.006695,-0.026047,0.101089,-0.011771,1.000000,0.094651,-0.370422,-0.095386
people_under_maintenance,-0.059795,0.062054,-0.000899,0.010927,-0.152551,0.055407,0.043609,-0.091621,-0.050076,0.250315,...,0.041465,0.076178,0.114653,-0.053481,-0.091527,0.096179,0.094651,1.000000,0.031792,-0.116682
telephone,-0.049716,0.083884,0.114317,-0.039283,-0.104331,0.250901,0.043571,0.000887,0.029469,0.059688,...,0.068576,0.047562,0.153685,0.000078,-0.103914,0.109732,-0.370422,0.031792,1.000000,0.106034
foreign_worker,0.090739,-0.047732,0.111683,0.035815,0.021039,0.029684,-0.002224,-0.000585,0.071835,-0.043539,...,0.017681,0.063482,0.000943,0.019209,-0.071064,0.002907,-0.095386,-0.116682,0.106034,1.000000

### Drop the original variables which are converted to dummy

In [82]:
X = default_df_50.drop("default" , axis=1)

y = default_df_50.pop("default")

### Q3 Split Train/Test data 70:30 ratio( 1 Marks)
##### Hint:from sklearn.model_selection import train_test_split

In [83]:
from sklearn.model_selection import train_test_split

X_train, X_test, train_labels, test_labels = train_test_split(X, y, test_size=.30, random_state=1)

### Q4 Build Random Forest Model( 1 Marks)
#### Hint:from sklearn.ensemble import RandomForestClassifier using n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999

In [84]:
from sklearn.ensemble import RandomForestClassifier

In [85]:
rf = RandomForestClassifier(n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999)

In [86]:
rf = rf.fit(X_train, train_labels)

In [87]:
y_predict = rf.predict(X_test)

### Q5 Calculate Confusion Matrix and Accuracy score (1 Marks)
##### Hint: Use confusion_matrix and accuracy_score

In [88]:
rf.score(X_test , test_labels)

0.6733333333333333

In [89]:
from sklearn import metrics

In [90]:
print(metrics.confusion_matrix(test_labels, y_predict))

[[92  5]
 [44  9]]

### Q6 Show the list of the features importance( 1 Marks)

In [91]:
print (pd.DataFrame(rf.feature_importances_, columns = ["Imp"], index = X_train.columns))

                                 Imp
account_check_status        0.091272
duration_in_month           0.108813
credit_history              0.042308
purpose                     0.076417
credit_amount               0.136838
savings                     0.043006
present_emp_since           0.048979
installment_as_income_perc  0.038995
personal_status_sex         0.038892
other_debtors               0.020463
present_res_since           0.039698
property                    0.050159
age                         0.103102
other_installment_plans     0.025620
housing                     0.027658
credits_this_bank           0.029176
job                         0.033061
people_under_maintenance    0.015570
telephone                   0.025500
foreign_worker              0.004474

### Q7 K-fold cross-validation( 2 Marks)
##### k-fold cross validation( without stratification)
##### Usually k is set as 10-20 in practical settings, depends on data set size

In [125]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [126]:
# Use below values
num_folds = 10
seed = 77

In [94]:
#Validate the Random Forest model build above using k fold

In [127]:
from sklearn.model_selection import  KFold
from sklearn.model_selection import cross_val_score

In [131]:
kf = KFold(n_splits=10,random_state=77, shuffle=False) # Define the split - into 2 folds 
kf.get_n_splits(X)

10

In [145]:
print(kf)

KFold(n_splits=10, random_state=77, shuffle=False)

In [161]:
for train_index, test_index in kf.split(X):  
    print("Train:", train_index, "Validation:",test_index)

Train: [ 50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157
 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175
 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193
 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211
 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229
 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247
 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265
 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283
 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499] Validation: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]
Train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49 100 101 102 103
 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157
 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175
 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193
 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211
 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229
 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247
 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265
 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283
 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499] Validation: [50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73
 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97
 98 99]
Train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 150 151 152 153 154 155 156 157
 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175
 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193
 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211
 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229
 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247
 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265
 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283
 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499] Validation: [100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149]
Train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 200 201 202 203 204 205 206 207 208 209 210 211
 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229
 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247
 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265
 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283
 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499] Validation: [150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167
 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185
 186 187 188 189 190 191 192 193 194 195 196 197 198 199]
Train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265
 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283
 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499] Validation: [200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217
 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249]
Train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 300 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319
 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337
 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499] Validation: [250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267
 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285
 286 287 288 289 290 291 292 293 294 295 296 297 298 299]
Train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 350 351 352 353 354 355
 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499] Validation: [300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317
 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335
 336 337 338 339 340 341 342 343 344 345 346 347 348 349]
Train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 400 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499] Validation: [350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367
 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385
 386 387 388 389 390 391 392 393 394 395 396 397 398 399]
Train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499] Validation: [400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417
 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435
 436 437 438 439 440 441 442 443 444 445 446 447 448 449]
Train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395

In [95]:
#Calculate Mean score

In [96]:
# Calculate score standard deviation using std()

# Q8 Print the confusion matrix( 1 Marks)

# Q9.Classification accuracy: 
percentage of correct predictions and Calculate sensitivity (or True Positive Rate or Recall) and Precision.
( 1 Marks)

# Q10.Plot Receiver Operating Characteristic (ROC) Curves( 1 Marks)

In [97]:
#Hint: Use roc_curve

ROC curve can help you to choose a threshold that balances sensitivity and specificity in a way that makes sense for your particular context

# Q11. Calculate AUC(the percentage of the ROC plot that is underneath the curve) - optional

### Bootstrapping ( Bonus)
##### Given a dataset of size n, a bootstrap sample is created by sampling n instances uniformly from the data (with/without replacement)
##### Create a model with each bootstrap sample and validate it with the test set
##### Final result is calculated by averaging the accuracy of models

In [98]:
# Number of iterations for bootstrapping
bootstrap_iteration = 10
accuracy = []

In [99]:
from sklearn.utils import resample
from sklearn.metrics import accuracy_score

for i in range(bootstrap_iteration):
    X_, y_ = resample(X_train, y_train)
    rfm.fit(X_, y_)
    y_pred = rfm.predict(X_test)
    
    acc = accuracy_score(y_pred, y_test)
    accuracy.append(acc)

NameError: name 'y_train' is not defined

In [ ]:
accuracy = np.array(accuracy)
print('Accuracy Score')
print('Avearge: ', accuracy.mean())
print('Standard deviation: ', accuracy.std())