## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [0]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default
!pip3 install -U tensorflow --quiet

In [237]:
tf.__version__

'2.0.0'

In [0]:
import tensorflow as tf

### Collect Data

In [239]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('/content/drive/My Drive/prices.csv')

### Check all columns in the dataset

In [242]:
data.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

### Drop columns `date` and  `symbol`

In [0]:
data.drop(["date","symbol"],axis=1,inplace = True)

In [244]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [0]:
data_new = data.iloc[0:1000]

In [246]:
data_new.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

In [247]:
data_new['volume'] = data_new['volume'].div(1000000)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [248]:
data_new.head()

         open       close         low        high  volume
0  123.430000  125.839996  122.309998  126.250000  2.1636
1  125.239998  119.980003  119.940002  125.540001  2.3864
2  116.379997  114.949997  114.930000  119.739998  2.4895
3  115.480003  116.620003  113.500000  117.440002  2.0063
4  117.010002  114.970001  114.089996  117.330002  1.4086

In [249]:
data_new.shape

(1000, 5)

In [250]:
data_new.dtypes

open      float64
close     float64
low       float64
high      float64
volume    float64
dtype: object

### Divide the data into train and test sets

In [0]:
from sklearn.model_selection import train_test_split

#### Convert Training and Test Data to numpy float32 arrays

In [0]:
X = data_new.drop('volume', axis=1)

In [0]:
y = data_new[['volume']]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [0]:
import numpy as np

X_train = np.array(X_train).astype('float32')
y_train = np.array(y_train).astype('float32')

In [0]:


X_test = np.array(X_test).astype('float32')
y_test = np.array(y_test).astype('float32')

In [256]:
X_train.shape

(750, 4)

In [257]:
y_train.shape

(750, 1)

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [0]:
from sklearn.preprocessing import Normalizer

In [0]:
transformer = Normalizer()
X_train = transformer.fit_transform(X_train)

In [0]:
X_test = transformer.fit_transform(X_test)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [0]:
w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

2.Define a function to calculate prediction

In [0]:
def prediction(x, w, b):
    
    xw_matmul = tf.matmul(x, w)
    y = tf.add(xw_matmul, b)
    
    return y

3.Loss (Cost) Function [Mean square error]

In [0]:
def loss(y_actual, y_predicted):
    
    diff = y_actual - y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    
    return avg

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [0]:
def train(x, y_actual, w, b, learning_rate=0.01):
    
    #Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w,b])
        
        current_prediction = prediction(x, w, b)
        current_loss = loss(y_actual, current_prediction)
    
    #Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    #Update Weights and Bias
    w = w - learning_rate*dw
    b = b - learning_rate*db
    
    return w, b

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [264]:


for i in range(100):
  w, b = train(X_train, y_train, w, b)
  print('Current Loss on iteration', i, loss(y_train, prediction(X_train, w, b)))

Current Loss on iteration 0 tf.Tensor(211.58992, shape=(), dtype=float32)
Current Loss on iteration 1 tf.Tensor(209.44087, shape=(), dtype=float32)
Current Loss on iteration 2 tf.Tensor(207.4603, shape=(), dtype=float32)
Current Loss on iteration 3 tf.Tensor(205.63498, shape=(), dtype=float32)
Current Loss on iteration 4 tf.Tensor(203.95279, shape=(), dtype=float32)
Current Loss on iteration 5 tf.Tensor(202.40247, shape=(), dtype=float32)
Current Loss on iteration 6 tf.Tensor(200.97366, shape=(), dtype=float32)
Current Loss on iteration 7 tf.Tensor(199.65692, shape=(), dtype=float32)
Current Loss on iteration 8 tf.Tensor(198.44339, shape=(), dtype=float32)
Current Loss on iteration 9 tf.Tensor(197.32498, shape=(), dtype=float32)
Current Loss on iteration 10 tf.Tensor(196.29427, shape=(), dtype=float32)
Current Loss on iteration 11 tf.Tensor(195.34436, shape=(), dtype=float32)
Current Loss on iteration 12 tf.Tensor(194.4689, shape=(), dtype=float32)
Current Loss on iteration 13 tf.Tensor(193.66211, shape=(), dtype=float32)
Current Loss on iteration 14 tf.Tensor(192.91852, shape=(), dtype=float32)
Current Loss on iteration 15 tf.Tensor(192.23328, shape=(), dtype=float32)
Current Loss on iteration 16 tf.Tensor(191.60173, shape=(), dtype=float32)
Current Loss on iteration 17 tf.Tensor(191.01968, shape=(), dtype=float32)
Current Loss on iteration 18 tf.Tensor(190.48328, shape=(), dtype=float32)
Current Loss on iteration 19 tf.Tensor(189.98889, shape=(), dtype=float32)
Current Loss on iteration 20 tf.Tensor(189.53331, shape=(), dtype=float32)
Current Loss on iteration 21 tf.Tensor(189.1134, shape=(), dtype=float32)
Current Loss on iteration 22 tf.Tensor(188.72646, shape=(), dtype=float32)
Current Loss on iteration 23 tf.Tensor(188.36983, shape=(), dtype=float32)
Current Loss on iteration 24 tf.Tensor(188.04115, shape=(), dtype=float32)
Current Loss on iteration 25 tf.Tensor(187.73825, shape=(), dtype=float32)
Current Loss on iteration 26 tf.Tensor(187.4591, shape=(), dtype=float32)
Current Loss on iteration 27 tf.Tensor(187.20181, shape=(), dtype=float32)
Current Loss on iteration 28 tf.Tensor(186.96469, shape=(), dtype=float32)
Current Loss on iteration 29 tf.Tensor(186.74619, shape=(), dtype=float32)
Current Loss on iteration 30 tf.Tensor(186.54478, shape=(), dtype=float32)
Current Loss on iteration 31 tf.Tensor(186.3592, shape=(), dtype=float32)
Current Loss on iteration 32 tf.Tensor(186.18814, shape=(), dtype=float32)
Current Loss on iteration 33 tf.Tensor(186.03052, shape=(), dtype=float32)
Current Loss on iteration 34 tf.Tensor(185.8852, shape=(), dtype=float32)
Current Loss on iteration 35 tf.Tensor(185.75131, shape=(), dtype=float32)
Current Loss on iteration 36 tf.Tensor(185.62791, shape=(), dtype=float32)
Current Loss on iteration 37 tf.Tensor(185.51419, shape=(), dtype=float32)
Current Loss on iteration 38 tf.Tensor(185.40935, shape=(), dtype=float32)
Current Loss on iteration 39 tf.Tensor(185.31277, shape=(), dtype=float32)
Current Loss on iteration 40 tf.Tensor(185.22372, shape=(), dtype=float32)
Current Loss on iteration 41 tf.Tensor(185.14171, shape=(), dtype=float32)
Current Loss on iteration 42 tf.Tensor(185.06609, shape=(), dtype=float32)
Current Loss on iteration 43 tf.Tensor(184.99641, shape=(), dtype=float32)
Current Loss on iteration 44 tf.Tensor(184.93216, shape=(), dtype=float32)
Current Loss on iteration 45 tf.Tensor(184.87294, shape=(), dtype=float32)
Current Loss on iteration 46 tf.Tensor(184.81842, shape=(), dtype=float32)
Current Loss on iteration 47 tf.Tensor(184.76813, shape=(), dtype=float32)
Current Loss on iteration 48 tf.Tensor(184.72182, shape=(), dtype=float32)
Current Loss on iteration 49 tf.Tensor(184.67911, shape=(), dtype=float32)
Current Loss on iteration 50 tf.Tensor(184.63972, shape=(), dtype=float32)
Current Loss on iteration 51 tf.Tensor(184.60345, shape=(), dtype=float32)
Current Loss on iteration 52 tf.Tensor(184.57002, shape=(), dtype=float32)
Current Loss on iteration 53 tf.Tensor(184.53923, shape=(), dtype=float32)
Current Loss on iteration 54 tf.Tensor(184.51082, shape=(), dtype=float32)
Current Loss on iteration 55 tf.Tensor(184.48465, shape=(), dtype=float32)
Current Loss on iteration 56 tf.Tensor(184.4605, shape=(), dtype=float32)
Current Loss on iteration 57 tf.Tensor(184.4383, shape=(), dtype=float32)
Current Loss on iteration 58 tf.Tensor(184.41779, shape=(), dtype=float32)
Current Loss on iteration 59 tf.Tensor(184.39894, shape=(), dtype=float32)
Current Loss on iteration 60 tf.Tensor(184.38148, shape=(), dtype=float32)
Current Loss on iteration 61 tf.Tensor(184.36543, shape=(), dtype=float32)
Current Loss on iteration 62 tf.Tensor(184.35065, shape=(), dtype=float32)
Current Loss on iteration 63 tf.Tensor(184.33707, shape=(), dtype=float32)
Current Loss on iteration 64 tf.Tensor(184.32448, shape=(), dtype=float32)
Current Loss on iteration 65 tf.Tensor(184.31294, shape=(), dtype=float32)
Current Loss on iteration 66 tf.Tensor(184.30223, shape=(), dtype=float32)
Current Loss on iteration 67 tf.Tensor(184.29237, shape=(), dtype=float32)
Current Loss on iteration 68 tf.Tensor(184.28331, shape=(), dtype=float32)
Current Loss on iteration 69 tf.Tensor(184.27498, shape=(), dtype=float32)
Current Loss on iteration 70 tf.Tensor(184.26724, shape=(), dtype=float32)
Current Loss on iteration 71 tf.Tensor(184.26016, shape=(), dtype=float32)
Current Loss on iteration 72 tf.Tensor(184.25365, shape=(), dtype=float32)
Current Loss on iteration 73 tf.Tensor(184.24759, shape=(), dtype=float32)
Current Loss on iteration 74 tf.Tensor(184.24202, shape=(), dtype=float32)
Current Loss on iteration 75 tf.Tensor(184.23692, shape=(), dtype=float32)
Current Loss on iteration 76 tf.Tensor(184.23216, shape=(), dtype=float32)
Current Loss on iteration 77 tf.Tensor(184.2278, shape=(), dtype=float32)
Current Loss on iteration 78 tf.Tensor(184.22379, shape=(), dtype=float32)
Current Loss on iteration 79 tf.Tensor(184.22011, shape=(), dtype=float32)
Current Loss on iteration 80 tf.Tensor(184.21669, shape=(), dtype=float32)
Current Loss on iteration 81 tf.Tensor(184.21355, shape=(), dtype=float32)
Current Loss on iteration 82 tf.Tensor(184.21065, shape=(), dtype=float32)
Current Loss on iteration 83 tf.Tensor(184.20798, shape=(), dtype=float32)
Current Loss on iteration 84 tf.Tensor(184.2055, shape=(), dtype=float32)
Current Loss on iteration 85 tf.Tensor(184.2032, shape=(), dtype=float32)
Current Loss on iteration 86 tf.Tensor(184.20111, shape=(), dtype=float32)
Current Loss on iteration 87 tf.Tensor(184.1992, shape=(), dtype=float32)
Current Loss on iteration 88 tf.Tensor(184.1974, shape=(), dtype=float32)
Current Loss on iteration 89 tf.Tensor(184.19572, shape=(), dtype=float32)
Current Loss on iteration 90 tf.Tensor(184.19424, shape=(), dtype=float32)
Current Loss on iteration 91 tf.Tensor(184.19281, shape=(), dtype=float32)
Current Loss on iteration 92 tf.Tensor(184.19153, shape=(), dtype=float32)
Current Loss on iteration 93 tf.Tensor(184.19034, shape=(), dtype=float32)
Current Loss on iteration 94 tf.Tensor(184.18927, shape=(), dtype=float32)
Current Loss on iteration 95 tf.Tensor(184.18825, shape=(), dtype=float32)
Current Loss on iteration 96 tf.Tensor(184.18729, shape=(), dtype=float32)
Current Loss on iteration 97 tf.Tensor(184.18642, shape=(), dtype=float32)
Current Loss on iteration 98 tf.Tensor(184.18562, shape=(), dtype=float32)
Current Loss on iteration 99 tf.Tensor(184.18489, shape=(), dtype=float32)

### Get the shapes and values of W and b

In [265]:
print('Weights:\n', w)
print('Bias:\n',b)

Weights:
 tf.Tensor(
[[1.3139986]
 [1.362716 ]
 [1.3088093]
 [1.3752323]], shape=(4, 1), dtype=float32)
Bias:
 tf.Tensor([2.6811237], shape=(1,), dtype=float32)

### Model Prediction on 1st Examples in Test Dataset

In [0]:
val = prediction(X_test, w, b)

In [275]:
val[0]

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [0]:
iris = pd.read_csv('/content/drive/My Drive/Iris (1).csv')
iris.head()

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [0]:
iris_new = pd.get_dummies(iris['Species'])
iris_new.head()

In [0]:
iris = pd.concat([iris ,iris_new],axis=1)
iris.head()

In [0]:
iris.drop(['Species'], axis =1 , inplace= True)

In [0]:
iris.head()

### Splitting the data into feature set and target set

In [0]:
X_iris = iris[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
X_iris

In [0]:
y_iris = iris[['Iris-setosa','Iris-versicolor', 'Iris-virginica']]
y_iris

In [0]:
X_train_iris, X_test_iris, y_train_iris, y_test_iris = train_test_split(X_iris, y_iris, test_size=0.25, random_state=1)

In [0]:
print(X_train_iris.shape)
print(X_test_iris.shape)
print(y_train_iris.shape)
print(y_test_iris.shape)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [0]:
model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(1, input_shape=(4,)))
#Normalize the data
model.add(tf.keras.layers.BatchNormalization())

#Add Dense Layer which provides 3 Outputs after applying softmax
model.add(tf.keras.layers.Dense(3, activation='softmax'))

#Comile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', 
              metrics=['accuracy'])

### Model Training

In [0]:
model.fit(X_train_iris,y_train_iris,          
          validation_data=(X_test_iris,y_test_iris),
          epochs=100)

### Model Prediction

In [0]:

prediction = model.predict(X_test_iris)

#Print prediction
print(prediction)

In [0]:
for i in prediction:
  predicted_num = np.argmax(i)
  print(predicted_num)

### Save the Model

In [0]:
model.save('iris_v1.h5')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?